* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

body {
  background: #f5f5f5;
}

.app {
  display: flex;
  height: 100vh;
}

.main {
  width: 75%;
  padding: 30px;
}

.header h1 {
  font-size: 24px;
  margin-bottom: 15px;
}

/* DATE STRIP */
.date-strip {
  display: flex;
  gap: 10px;
}

.date-strip span {
  padding: 8px 8px;
  color: #666;
}

.date-strip .active {
  background: #2c2c2c;
  color: white;
}

.bar {
    opacity: 40%;
}

/* HABIT LIST */
.habit-list {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.habit-card {
  display: flex;
  justify-content: space-between;
  padding: 18px;
  background: #fff;
  cursor: pointer;
  transition: all 0.25s ease;
}

.habit-card:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.05);
}

.habit-card.completed {
  background: #202020;
  color: white;
}

.left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.add-habit {
  padding: 16px;
  background: #e9e9e9;
  cursor: text;
  position: relative;
  transition: all 0.25s ease;
}

.add-habit:hover {
  background: #f9f9f9;
}

.placeholder {
  color: #888;
  font-size: 14px;
}

.habit-input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 15px;
  background: transparent;
  display: none;
}

.add-habit.active {
  background: #fff;
  box-shadow: 0 5px 20px rgba(0,0,0,0.05);
}

.add-habit.active .placeholder {
  display: none;
}

.add-habit.active .habit-input {
  display: block;
}

.checkbox {
  width: 18px;
  height: 18px;
  border: 2px solid #aaa;
}

.checkbox.checked {
  background: #22c55e;
  border: none;
}

.streak {
  font-weight: bold;
}

/* INSIGHTS */
.insights {
  width: 25%;
  padding: 20px;
  background: #fafafa;
  border-left: 1px solid #eee;
}

.card {
  background: white;
  padding: 20px;
  margin-top: 20px;
}

.title {
  font-weight: 600;
  margin-bottom: 15px;
  color: #555;
}

/* GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(18, 14px);
  gap: 2px;
  margin-top: 25px;
  justify-content: center;
}

.grid div {
  width: 12px;
  height: 12px;
  background: #e5e5e5;
}

.grid .active {
  background: #22c55e;
}

/* CHART */
.bars {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 10px;
  height: 100px;
  margin-top: 25px;
}

.bars div {
  width: 10px;
  background: #111;
}

/* TOP HABITS*/
.top-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.top-item .left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.rank {
  width: 30px;
  height: 30px;
  background: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  color: #555;
  font-size: 14px;
}

.info {
  display: flex;
  flex-direction: column;
}

.name {
  font-weight: 600;
  font-size: 15px;
}

.sub {
  font-size: 12px;
  color: #888;
  margin-top: 2px;
}

.percent {
  font-weight: 600;
  font-size: 16px;
}

.percent.green { color: #22c55e; }
.percent.yellow { color: #eab308; }
.percent.red { color: #ef4444; }

/* MODAL */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.3);
  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0;
  pointer-events: none;
  transition: 0.3s ease;
}

.modal.show {
  opacity: 1;
  pointer-events: all;
}

.modal-content {
  width: 320px;
  background: white;
  padding: 25px;
  transform: scale(0.9);
  transition: 0.3s ease;
}

.modal-content p {
  font-weight: 450;
  color: #555;
}

.modal.show .modal-content {
  transform: scale(1);
}

.stats {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 40px;
}

.close-btn {
  margin-top: 20px;
  padding: 10px;
  border: none;
  background: #111;
  color: white;
  cursor: pointer;
}

.delete-btn {
  margin-top: 20px;
  padding: 10px;
  border: none;
  background: #f64c4c;
  color: white;
  cursor: pointer;
}

.info-card {
  background: #f9f9f9;
  padding: 10px;
  margin-top: 10px;
}

.info-card p{
  margin-bottom: 4px;
}

.activity {
  background: white;
}

.heatmap-large {
  margin-top: 12px;
  display: grid;
  grid-template-columns: repeat(15, 15px);
  gap: 2px;
}

.heatmap-large div {
  width: 12px;
  height: 12px;
  background: #e5e5e5;
}

.heatmap-large .active {
  background: #22c55e;
}

.details {
  margin-top: 20px;
}

.details div {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  background: #f9f9f9;
  margin-top: 10px;
  font-size: 14px;
}
